html{
  font-size: 1em;
  color: white;
  font-family: 'Work Sans', sans-serif;
    background: url('images/sailboats.jpeg') no-repeat fixed bottom center;
  background-size: cover;
}

a :visited{
  text-decoration: none;
  pointer-events: visibleStroke;
  color: white;
}

a{
  color: white;
  text-decoration: none;
}

header{
  text-align: center;
  font-size: 1.5em;
  height: 3.5em;
  position: fixed;
  background-color: black;
  width: 100%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  padding: .5em 0 0 0;
}



.menuItem{
  padding-right: 2em;
}


.lined{
    text-decoration: none;
    border-bottom: 1px solid transparent;
    width: 0px;
    transition: 0.5s ease;
}

.lined:hover {
  border-bottom: 1px solid #fff;

}


#splash{
  height: 30em;
  text-align: center;
/*  background: url('images/sailboats.jpeg') no-repeat fixed bottom center;
  background-size: cover;*/
}

/*.logoCircle{
  border-radius: 50%;
  width: 8em;
  height: 8em;
  position: relative;
  top: -8em;
  background: black url('images/nhdlogowhite.png') no-repeat center;
}*/

.content{
  padding: 3em 10em;
  text-align: left;
}

.white{
  color: white;
  background-color: rgba(0,0,0,0.5);
}
